/HelloWorld.class
/JUnitHelloWorldTest.class
/JUnitLuckyFiveTest.class
/JUnitMyClassTest.class
/JUnitOrderTest.class
/JUnitPasswordTest.class
/JUnitPoetryTest.class
/LuckyFive.class
/MyClass.class
/Order.class
/Password.class
/Poetry.class
