/HelloWorld.class
/JUnitHelloWorldTest.class
/JUnitMyClassTest.class
/JUnitOrderCaseTest.class
/JUnitOrderTest.class
/JUnitPasswordTest.class
/JUnitPoetryTest.class
/MyClass.class
/MyClasss.class
/Order.class
/OrderCase.class
/Password.class
/Poetry.class
